body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
}

header {
    margin: 0;
    width: 1440px;
    height: 80px;
    background-color: #7A86B8;
}

.nav {
    width: 1219px;
    padding: 25.5px 0 0 111px;
    display: flex;
}

.nav_name {
    padding-right: 604px;
    font-size: 24px;
    color: #FFFFFF;
}

.nav_link_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
}

.nav_link a {
    font-size: 16px;
    color: #FFFFFF;
    float: left;
}

.nav_img img{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 110px;

}

.logged-in {
    margin: 0;
    width: 10px;
    height: 10px;
    color: #8ED275;
    position: absolute;
    top: 49px;
    right: 117px;
    bottom: 14px;
}

section {
    width: 1219px;
    height: 803px;
    display: flex;
    flex-wrap: wrap;
    padding: 61px 110px 0;
}

.left-blk .right-blk {
    height: 742px;
}

.sec_div1 img {
    width: 766px;
    height: 360px;
    padding-bottom: 22px;
}

.sec_div1 {
    width: 766px;
    height: 360px;
}

.sec_div2 {
    padding-left: 21px;
    margin-bottom: 22px;
}

.sec_div2 p{
    margin: 0;
    padding-bottom: 11px;
    font-size: 24px;
}

.sec_div3 {
    width: 431px;
    height: 320px;
    border-radius: 17px;
    background-color: rgba(122, 134, 184, 0.06);;
}

.sec_div3_ul {
    list-style: none;
    padding: 36px 25px;
    margin: 0;
}

.sec_div3_li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.sec_div1 .img-list-blk {
    width: 766px;
}

.sec_div1 .img-list-blk {
    display: flex;
    justify-content: space-between;
}

.sec_div1 .img-list-blk img {
    width: 371px;
    height: 193px;
    border-radius: 13px 13px 0px 0px;
    padding-bottom: 0;
}

.sec_div1 .img-list-blk .content-blk:last-child {
    margin-left: 20px;
}

.content-blk {
    background-color: #F7F8FB;
    border-radius: 16px;
}

.text-blk h3 {
    margin: 0;
    font-size: 24px;
    padding: 17px 0 5px 30px;
}

.text-blk p {
    margin: 0;
    font-size: 16px;
    padding: 0 0 14px 30px;
}

.btn-view {
    float: right;
    color: #D9D9D9;
    background-color: #7A86B8;
    border-radius: 5px;
    padding: 6px 17px;
    margin: 0 30px 14px 0;
    border: none;
}

footer {
    margin: 0;
    width: 1440px;
    height: 80px;
    background-color: #7A86B8;
}

.nav_footer {
    padding: 34px 50px 0 111px;
    display: flex;
}

.nav_footer p {
    margin: 0;
    padding-right: 438px;
    color: #FFFFFF;
    font-size: 16px;
}

.footer_link_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
}

.footer_link a {
    font-size: 16px;
    color: #FFFFFF;
    float: left;
}

.dot {
    height: 74px;
    width: 74px;
    background-color: #DAE1FF;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 907px;
    right: 116px;
  }

.dot img {
    width: 40px;
    height: 40px;
    padding: 20px 16px 14px 18px;
}